__benchmarks__
__pycache__/
__pypackages__/
_SpecRunner.html
.cache
.coverage
.coverage.*
.dmypy.json
.DS_STORE
.eggs/
.env
.grunt
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.module-cache
.mypy_cache/
.nox/
.pybuilder/
.pyre/
.pytest_cache/
.Python
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vscode
.webassets-cache
*.cover
*.egg
*.egg-info/
*.iml
*.log
*.log*
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.pyc
*.sage.py
*.so
*.spec
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*~
*$py.class
/site
#Pipfile.lock
build/
build/
celerybeat-schedule
celerybeat.pid
chrome-user-data
cover/
coverage.xml
coverage/
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
MANIFEST
node_modules
nosetests.xml
packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/shared/build
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
remote-repo/
scripts/flow/*/.flowconfig
sdist/
share/python-wheels/
target/
test/the-files-to-test.generated.js
var/
venv.bak/
venv/
wheels/